.header 
  padding-top: 75px

  h1 
    font-size: 50px
    font-weight: 700
    text-align: center
    line-height: 70px

  p 
    text-align: center
    line-height: 26px
    margin-top: 20px
    margin-bottom: 40px
    color: $cGray

  .header-cta
    display: flex 
    gap: 20px 
    justify-content: center

    .btn-primary, .btn-primary-outline
      width: 125px
      text-align: center

  .header-bottom
    position: relative

    img.desktop
      display: block 
      margin: 40px auto
      position: relative

    .income-card
      position: absolute 
      top: 170px
      right: 70px
      border-radius: 10px
      box-shadow: 0px 4px 10px 0px rgba(31,80,255,0.35)
      -webkit-box-shadow: 0px 4px 10px 0px rgba(31,80,255,0.35)
      -moz-box-shadow: 0px 4px 10px 0px rgba(31,80,255,0.35) 
      transition: all 0.3s

      &:hover
        transform: scale(1.05)

    .layer-1 
      position: absolute
      top: -50%
      left: -20%
      z-index: -1

    .layer-2 
      position: absolute
      right: -15%
      bottom: -60%
      z-index: -1

// SECTION HEADER
.section-header 
  margin-bottom: 45px

  .section-sub 
    font-size: 12px
    font-weight: 400
    padding: 5px 15px
    border-radius: 100px
    display: block 
    width: max-content
    text-transform: capitalize

  .theme-blue 
    color: $cBlue
    background: rgba($cBlue, .10)

  .theme-green 
    color: $cGreen 
    background: rgba($cGreen, .10)

  .theme-red 
    color: $cRed
    background: rgba($cRed, .10)

  .theme-white
    color: $cWhite
    background: rgba($cWhite, .10)

  .section-title 
    font-size: 30px
    font-weight: 700 
    color: $cBlack-10
    margin-top: 15px
    margin-bottom: 18px

  p 
    font-size: 16px
    font-weight: 400
    line-height: 26px