// GLOBAL STYLES
*, html 
  margin: 0
  padding: 0
  box-sizing: border-box

body 
  font-family: $font-primary
  font-size: $body-size
  background: $cWhite-10
  overflow-x: hidden

.container 
  width: 100%
  max-width: 1180px
  margin: 0 auto
  padding: 0 15px

ul 
  list-style: none 

a 
  text-decoration: none

main 
  margin-top: 130px

.text-red 
  color: $cRed

.text-green
  color: $cGreen

.text-blue 
  color: $cBlue

// SECTION 1
.section-1 
  padding: 80px 0

  p 
    text-align: center
    margin-bottom: 40px

  .org-list
    display: flex 
    gap: 80px
    justify-content: center

    img 
      height: 30px
      width: auto

// SECTION 2
.section-2
  padding: 70px 0 80px 0
  background: #F3F6FF

  .features 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 40px

  .feature-card 
    border-radius: 10px
    border: 1px solid rgba($cBlack, .10)
    padding: 25px

    .feature-text
      font-size: 14px
      line-height: 23px

    .feature-title 
      font-weight: 700 
      margin-top: 10px
      margin-bottom: 15px

// SECTION 3

// SECTION 4

// SECTION 5