@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.btn-link {
  font-weight: 700;
  color: #1F50FF;
}

button, .btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.btn-md {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.btn-primary {
  background: #1F50FF;
  color: #fff;
  box-shadow: 0px 4px 10px 0px rgba(31, 80, 255, 0.35);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(31, 80, 255, 0.35);
  -moz-box-shadow: 0px 4px 10px 0px rgba(31, 80, 255, 0.35);
}

.btn-primary-outline {
  background: transparent;
  border: 1px solid #1F50FF;
  color: #1F50FF;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #F9FCFF;
  z-index: 20;
}

.top-navigation {
  height: 30px;
  width: 100%;
  background: #1F50FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-navigation span {
  color: #fff;
  font-size: 12px;
}

.main-navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-navigation .nav-links {
  display: flex;
  gap: 30px;
}
.main-navigation .nav-cta {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header {
  padding-top: 75px;
}
.header h1 {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  line-height: 70px;
}
.header p {
  text-align: center;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #5D5D5D;
}
.header .header-cta {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.header .header-cta .btn-primary, .header .header-cta .btn-primary-outline {
  width: 125px;
  text-align: center;
}
.header .header-bottom {
  position: relative;
}
.header .header-bottom img.desktop {
  display: block;
  margin: 40px auto;
  position: relative;
}
.header .header-bottom .income-card {
  position: absolute;
  top: 170px;
  right: 70px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(31, 80, 255, 0.35);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(31, 80, 255, 0.35);
  -moz-box-shadow: 0px 4px 10px 0px rgba(31, 80, 255, 0.35);
  transition: all 0.3s;
}
.header .header-bottom .income-card:hover {
  transform: scale(1.05);
}
.header .header-bottom .layer-1 {
  position: absolute;
  top: -50%;
  left: -20%;
  z-index: -1;
}
.header .header-bottom .layer-2 {
  position: absolute;
  right: -15%;
  bottom: -60%;
  z-index: -1;
}

.section-header {
  margin-bottom: 45px;
}
.section-header .section-sub {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 100px;
  display: block;
  width: max-content;
  text-transform: capitalize;
}
.section-header .theme-blue {
  color: #1F50FF;
  background: rgba(31, 80, 255, 0.1);
}
.section-header .theme-green {
  color: #0BBE7E;
  background: rgba(11, 190, 126, 0.1);
}
.section-header .theme-red {
  color: #FF5271;
  background: rgba(255, 82, 113, 0.1);
}
.section-header .theme-white {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
}
.section-header .section-title {
  font-size: 30px;
  font-weight: 700;
  color: #1E1E1E;
  margin-top: 15px;
  margin-bottom: 18px;
}
.section-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background: #F9FCFF;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  margin-top: 130px;
}

.text-red {
  color: #FF5271;
}

.text-green {
  color: #0BBE7E;
}

.text-blue {
  color: #1F50FF;
}

.ly-center {
  text-align: center;
}
.ly-center .section-sub {
  margin: auto;
}

.ly-left {
  text-align: left;
}

.ly-right {
  text-align: right;
}
.ly-right .section-sub {
  margin-left: auto;
}

.section-1 {
  padding: 80px 0;
}
.section-1 p {
  text-align: center;
  margin-bottom: 40px;
}
.section-1 .org-list {
  display: flex;
  gap: 80px;
  justify-content: center;
}
.section-1 .org-list img {
  height: 30px;
  width: auto;
}

.section-2 {
  padding: 70px 0 80px 0;
  background: #F3F6FF;
}
.section-2 .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.section-2 .feature-card {
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 25px;
}
.section-2 .feature-card .feature-text {
  font-size: 14px;
  line-height: 23px;
}
.section-2 .feature-card .feature-title {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 15px;
}

.section-3 {
  margin-top: -100px;
}
.section-3 .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.section-3 .container .section-right {
  width: 150%;
  transform: translateX(-100px);
}
.section-3 .benefits {
  display: flex;
  gap: 40px;
}
.section-3 .benefits ul li {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
}
.section-3 .benefits ul li img {
  height: 25px;
  width: 25px;
}

.section-4 {
  margin-top: -100px;
}

/*# sourceMappingURL=main.css.map */
